#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------

#--- App Properties (Maven, application properties...etc)
pom All  ; pom.xml ;   ; pom_all.vm ; 1
Application Properties; application.properties;	  ${RES}; 	app_prop.vm; 	1
Spring Boot REST App; SpringBootRestApplication.java; ${SRC}/${ROOT_PKG};	app_entity.vm; 	1

#-- Model Package
JPA Model		    ; ${BEANNAME}.java    		 ; ${SRC}/${ROOT_PKG}/model        	; model_entity.vm	; *
JPA repository 		; ${BEANNAME}Repository.java ; ${SRC}/${ROOT_PKG}/repository	; repo_entity.vm	; *
JPA Controller		; ${BEANNAME}Controller.java ; ${SRC}/${ROOT_PKG}/controller	; cont_entity.vm	; *
